a {
    transition: all .3s;
}

.tc {
    text-align: center;
}

.db {
    display: block;
}

.db-ns {
    display: block;
}

.dn {
    display: none;
}

@media screen and (max-width: 500px) {
    .db-ns {
        display: none;
    }
}

.pa0 {
    padding: 0;
}

.ma0 {
    margin: 0;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.aspect-ratio--9x16 {
    padding-bottom: 130%;
}

.bg-center {
    background-repeat: no-repeat;
    background-position: center center;
}

.cover {
    background-size: cover
}

.hp5-list-style li:before {
    color: #6563f7 !important;
}


/* fdaeda */

.WilGalleryDemoSection .tab-pane {
    padding: 0px;
}

.WilGalleryDemoSection .nav-tabs {
    border: none !important;
}

.WilGalleryDemoSection .nav-tabs h2 {
    color: #243e63;
    font-weight: 500;
    font-size: 20px;
}

.WilGalleryDemoSection .tab-two-btn {
    position: relative;
    border: none !important;
    margin: 10px !important;
    padding: 10px !important;
}

.WilGalleryDemoSection .tab-two-btn.active * {
    color: #6563f7 !important;
}

.WilGalleryDemoSection .tab-two-btn::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-bottom: 5px solid transparent;
}

.WilGalleryDemoSection .tab-two-btn.active::after {
    border-bottom: 5px solid #6563f7;
}

.demo-wrap {
    margin: 30px 5%;
}

.demo-wrap:hover .demo-name {
    color: #6563f7;
}

.demo-name {
    font-size: 16px;
    text-transform: capitalize;
    color: #111;
    padding: 20px;
    transition: all .2s;
}

.demo-img {
    transition: all .3s;
    border: 1px solid rgba(0, 0, 0, 0.07);
}

.demo-img:hover {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.2);
}

.demo-grid-item {
    width: 49.8% !important;
}

@media screen and (min-width: 500px) {
    .demo-grid-item {
        width: 24.8% !important;
    }
}


/* --- */

.wil-text-block .border-btn {
    margin: 15px 0 !important;
}

.wil-text-block--content {
    margin: 0 !important;
}

.wil-text-block--content * {
    line-height: 1.7;
    font-size: 16px;
    margin: 0 !important;
}


/* ss */

.hero-section--desc p {
    font-size: 20px;
}